<div class="container">
    <div class="wow fadeInLeft">
        <h2 class="h1 pt-5 pb-3">What so special about us?</h2>
        <p class="px-5 mb-5 pb-3 lead blue-grey-text">
            We have unique preposition and strategy to super charge our delivery process
        </p>
    </div>
    <div class="row">
        <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s">
            <a href="/agile-framework.html" class="h5 mt-3">
                <i class="fa fa-line-chart fa-3x cyan-text"></i>
            </a>
            <h3 class="h4 mt-3"><a href="/agile-framework.html" class="h5 mt-3">Agile Framework</a></h3>
            <p class="mt-3 blue-grey-text">
                Quick sprint turn within fortnightly period
            </p>
        </div>
        <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s">
            <a class="h5 mt-3" href="/continuously-integration.html">
                <i class="fa fa-dashboard fa-3x orange-text"></i>
            </a>
            <h3 class="h4 mt-3"><a class="h5 mt-3" href="/continuously-integration.html">Continuously Integration</a>
            </h3>
            <p class="mt-3 blue-grey-text">
                Deliver Fast, Fail Fast, Iterate Fast
            </p>
        </div>
        <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s">
            <a href="/continuously-delivery.html" class="h5 mt-3">
                <i class="fa fa-cubes fa-3x red-text"></i>
            </a>
            <h3 class="h4 mt-3"><a href="/continuously-delivery.html" class="h5 mt-3">Continuously Delivery</a></h3>
            <p class="mt-3 blue-grey-text">
                Pipeline based code delivery stream
            </p>
        </div>
    </div>
</div>