<div class="row">
  <div class="col-md-12 wow fadeInUp">
    <h3>Advanced Technology</h3>
    <p>
      Perkembangan teknologi yang begitu pesat serta begitu banyaknya layanan
      yang dapat digunakan masyarakat untuk membantu kehidupannya sehari-hari
      membuat berbagai perusahaan yang berjalan dibidang teknologi
      berlomba-lomba untuk senantiasa memberikan layanan terbaik dan fitur
      terbaru dari produknya demi kepuasan kustomer. Hal ini pun tak luput dari
      Pojokan.Io sendiri, kami senantiasa memberikan layanan terbaik serta
      produk terbaik kami kepada kustomer.
    </p>
    <p>
      Pojokan.Io sendiri dalam pengembangan produknya senantiasa menggunakan
      teknologi yang maju, hal ini dapat memperluas pilihan konsumen dalam
      memilih layanan kami serta kami pun juga dapat memberikan performa terbaik
      untuk melayani kustomer.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md mt-md-3 wow fadeInUp">
    <h5>
      Adapun tujuan kami dari menggunakan teknologi yang maju adalah:
    </h5>
    <hr />
    <ol>
      <li>
        <b>Products Excellent Performance</b>
        <p>
          Teknologi yang maju otomatis memberikan lebih banyak kemudahan bagi
          penggunanya. Dalam dunia teknologi sendiri pun tak segalanya dapat
          memenuhi kebutuhan kita, akan selalu ada keterbatasan dari bantuan
          yang diberikan. Namun dengan seiring berkembangnya teknologi membuat
          hal-hal yang terbatas sebelumnya menjadi terwujudkan. Oleh karena itu
          lah penggunaan teknologi yang maju dapat memberikan performa yang
          bagus dari produk yang kami tawarkan.
        </p>
      </li>
      <li>
        <b>Easier to be Maintenanced</b>
        <p>
          Teknologi yang sudah berumur lama cenderung sulit untuk dipelihara,
          ada berbagai macam faktor yang menjadi penyebabnya seperti tidak
          adanya lagi pengembangan, komponen yang sudah tak tersedia, prosesnya
          yang memakan waktu lebih lama, dan sebagainya. Sementara itu berbeda
          dengan teknologi yang lebih maju, hal-hal yang disebutkan di atas tak
          perlu lagi dikhawatirkan karena potensi pengembangannya sendiri pun
          masih luas, komponen yang dibutuhkan masih tersedia, dan proses-proses
          yang dibutuhkan baik dalam hal penggunaan maupun perawatan dapat
          berjalan lebih efisien karena teknologinya yang maju.
        </p>
      </li>
      <li>
        <b>Cheap Operational Costs and Low Time Consuming</b>
        <p>
          Teknologi yang lebih lama juga cenderung lebih banyak mengeluarkan
          biaya dan waktu. Hal ini karena sulitnya mendapatkan hal-hal yang
          dibutuhkan untuk melakukan perawatan, kalaupun kita menemukannya
          biasanya memerlukan biaya lebih untuk mendapatkannya, ditambah dengan
          waktu yang dibutuhkan untuk melakukan perawatan yang lebih lama tentu
          penggunaan teknologi yang lebih maju jauh lebih baik.
        </p>
      </li>
    </ol>
  </div>
</div>