<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Agile Framework</h3>
        <p>
            <b>Agile Development Methods</b> is a device-based development which utilise the same principles of a short
            system development that provides a rapid adaptation of the developer to change in any form. The agile
            development method is one of the most software development methodologies used in the software development
            life cycle.</p>
        <p> Agile has the understanding of being fast, light, free to move, quick to fail and constantly evolving. So
            when developing a software by using the
            agile development methods, innovation and responsibility are needed between the development team and the
            client so that the quality of the software produced is good and the agility of the team is balanced. </p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3 wow fadeInUp">
        <h5>Agile purpose</h5>
        <hr />
        <p>
            <ol>
                <li>
                    <b>High-value & working App system,</b> it is expected that by using agile development methods,
                    software can be produced will have high selling points, manufacturing costs can be pressed and the
                    software can run well.
                </li>
                <li>
                    <b>Iterative, incremental, evolutionary,</b> agile software development methods are
                    iterative, constantly changing, and evolving. The team must work in a short time (within two weeks
                    period)
                    and also always have added functionality of the software in its iteration according to client needs.
                    Agile methodology can be simply explained as example in a situation
                    when someone wants to go to a city and he doesn't know the way. Then how did he get to the
                    destination? By frequently asking the people he met on the road until he arrived at his destination.
                </li>
                <li>
                    <b>Cost control & value-driven development,</b> one of the goals of agile is software development
                    tailored to user needs, the team can quickly respond to the needs of the user so that the time and
                    cost of making software can be controlled.
                </li>

            </ol>
        </p>
    </div>
</div>