<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Agile Framework</h3>
        <p>
            <b>Agile Development Methods</b> adalah sekelompok metodologi pengembangan perangkat
            lunak
            yang
            didasarkan pada prinsip-prinsip yang sama atau pengembangan sistem jangka pendek yang
            memerlukan
            adaptasi cepat dari pengembang terhadap perubahan dalam bentuk apapun. Agile development
            methods
            merupakan salah satu dari Metodologi pengembangan perangkat lunak yang digunakan dalam
            pengembangan
            perangkat lunak.</p>
        <p> Agile memiliki pengertian bersifat cepat, ringan, bebas bergerak, dan waspada.
            Sehingga saat membuat perangkat lunak dengan menggunakan agile development methods
            diperlukan
            inovasi dan responsibiliti yang baik antara tim pengembang dan klien agar kualitas dari
            perangkat
            lunak yang dihasilkan bagus dan kelincahan dari tim seimbang.</p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3 wow fadeInUp">
        <h5>Tujuan agile</h5>
        <hr />
        <p>
            <ol>
                <li>
                    <b>High-value & working App system,</b> diharapkan dengan memakai agile
                    development
                    methods
                    dapat dihasilkan perangkat lunak yang mempunyai nilai jual yang tinggi, biaya
                    pembuatan
                    bisa di tekan dan perangkat lunak bisa berjalan dengan baik.
                </li>
                <li>
                    <b>Iterative, incremental, evolutionary,</b> agile adalah metode pengembangan
                    perangkat
                    lunak yang iteratif, selalu mengalami perubahan, dan evolusioner. Tim harus
                    bekerja
                    dalam
                    waktu yang singkat(biasanya 1-3 minggu) dan juga selalu menambah fungsionalitas
                    dari
                    perangkat lunak sesuai dengan kebutuhan klien. Agile dapat dianalogikan ketika
                    seseorang
                    ingin pergi ke suatu kota dan dia tidak tahu jalannya. Lalu bagaimana dia bisa
                    sampai
                    tujuan? Dengan sering bertanya kepada orang yang dia temui dijalan hingga dia
                    sampai
                    di tempat tujuan.
                </li>
                <li>
                    <b>Cost control & value-driven development,</b> salah satu tujuan dari agile
                    yaitu
                    pengembangan
                    perangkat lunak disesuaikan dengan kebutuhan pengguna, tim bisa dengan cepat
                    merespon
                    kebutuhan yang diinginkan pengguna sehingga waktu dan biaya pembuatan perangkat
                    lunak
                    bisa dikontrol.
                </li>

            </ol>
        </p>
    </div>
</div>