<div class="row">
  <div class="col-md-12 wow fadeInUp">
    <p><b>Business oriented</b> is our main business flow determination in Pojokan.io to distinguishes us a technology
      company which established by young people and talented members throughout the
      country of Indonesia. As for the existing business oriented in this Pojokan.io we uses 2 types of business models,
      which business-oriented business models (B2B) and also customer-oriented business models (B2C). Based on these
      appoaches the
      Pojokan.io use them to further direct the business flow of Pojokan.io itself which also make us stand up from the
      other companies.
    </p>

    <p>Some of our business oriented categories are as follows:</p>
    <ol>
      <li>Business Model</li>
      <center>
        <picture>
          <source srcset="img/business-model-canvas.webp" type="image/webp">
          <source srcset="img/business-model-canvas.jpg" type="image/jpeg">
          <img loading="lazy" title="Business Model Canvas" class="responsive-image">
        </picture>
      </center>
      <p>
        Pojokan.io has a business model that can be adapted to the customer demand, observing through the business model
        above, then everything that is needed by the customer will be recorded and analyzed in
        advance through the business model before doing the development process. This approach makes it easier for the
        developer
        to start the system development process according to the business model that is required by the customer both in
        terms of B2B and B2C.</p>
      <li>Business Process</li>
      <picture>
        <source srcset="img/Pojokan-Project-Tutorial-System.webp" type="image/webp">
        <source srcset="img/Pojokan-Project-Tutorial-System.png" type="image/png">
        <img loading="lazy" title="Pojokan Project Tutorial System" class="responsive-image">
      </picture>
      </center>
      <p>Pojokan.io itself also has its own other business processes adopted from top technology companies. Pojokan.io
        sets its own standards regarding the system that will be built by the development team owned by Pojokan.io. This
        mechanism to ensure that each team within The Pojokan.io can cooperate with each other and to minimise conflict
        when
        doing the development process. We start our development with a business process beforehand,
        so that developers can figure out about what technology will be used by the system that we will offer to the
        customer .</p>

      <li>Business Segmentation</li>
      <center>
        <picture>
          <source srcset="img/High-Level-Front-End-Diagram.webp" type="image/webp">
          <source srcset="img/High-Level-Front-End-Diagram.png" type="image/png">
          <img loading="lazy" title="High Level Front End Diagram" class="responsive-image">
        </picture>
      </center>
      <p>For each product offered on a B2C basis, Pojokan.io as a technology-based company will also conduct an analysis
        of
        market segmentation in Indonesia before the product go international. Pojokan.io also
        understands the market conditions in Indonesia, and this is what makes us as one of the technology
        companies that use B2B & B2C business models which easily find out the market segmentation in Indonesia. This
        specialty will
        also help us to improvement our B2C approach to keep it in accordance with existing
        market segmentation in Indonesia.</p>
    </ol>
  </div>
</div>