<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Continuously Delivery</h3>
        <p>Perkembangan dalam dunia teknologi cenderung melaju dengan cepat, hampir setiap tahunnya
            perusahaan yang bekerja di bidang teknologi senantiasa memberikan produk terbarunya pada
            kustomer.
            Begitupun dengan Pojokan.Io, sebagai perusahaan yang bekerja dalam bidang teknologi,
            kami
            senantiasa
            memberikan update produk yang kami miliki. Berbagai fitur baru maupun kode pemrograman
            yang
            lebih efisien
            kami berikan guna memberikan layanan terbaik pada kustomer.</p>

        <p>Continuously Delivery sendiri merupakan suatu sistem kerja yang diterapkan perusahaan
            untuk
            senantiasa
            memberikan perubahan terhadap produknya baik berupa fitur terbaru, konfigurasi yang
            lebih
            baik, serta perbaikan
            bug guna memberikan produk yang dapat bekerja lebih efisien dan mempermudah pekerjaan
            kustomer.</p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3 wow fadeInUp">
        <h5>Tujuan dari sistem kerja ini sendiri adalah</h5>
        <hr />
        <ol>
            <li> <b>Products Update</b> </li>
            <p>Dengan senantiasa memberikan fitur terbaru terhadap produk yang digunakan kustomer,
                otomatis kustomer dapat lebih dimudahkan dengan pekerjaan yang dilakukannya. Selain
                itu update yang diberikan tidak terbatas hanya pada penambahan fitur, dapat berupa
                struktur kode
                yang lebih efisien, sistem konfigurasi yang baik, dan segala hal yang dapat membantu
                peningkatan performa kustomer</p>

            <li> <b>Quality Upgrade</b> </li>
            <p>Dengan Produk yang senantiasa diupdate maka produk tersebut dapat memiliki
                performa yang lebih baik. Dengan adanya perkembangan pada kode yang digunakan
                maka kami dapat menyajikan struktur kode yang lebih baik untuk produk yang digunakan
                oleh kustomer, hal ini dapat membuat produk bekerja dengan lebih stabil.</p>

            <li> <b>Sustainability Maintained</b> </li>
            <p>Proses pengembangan yang terus dilakukan dapat membuat kustomer tidak perlu khawatir
                akan terjadinya permasalah pada produk yang digunakan. Hal ini dikarenakan kami akan
                senantiasa meminimalisir
                kesalahan yang dapat terjadi serta dengan cepat menangani permasalahan yang ada.</p>
        </ol>
    </div>
</div>