<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Continuously Delivery</h3>
        <p>Developments in the world of technology tend to go fast, almost every year companies that work in the field
            of technology always provide the latest products to the customers. Likewise with Pojokan.io, as a company
            that works in the field of technology, we always provide the cutting edge product updates that we have. We
            provide new features and more efficient programming code to provide the best service to customers.</p>

        <p>Continuously Delivery itself is a system that is implemented by the company to constantly iteration its
            products in the form of the latest features, better configuration, and bug fixes to provide
            products that to enable our customer work more efficiently and intuitively.</p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3 wow fadeInUp">
        <h5>The main idea of this system are:</h5>
        <hr />
        <ol>
            <li> <b>Products Update</b> </li>
            <p>By always providing the latest features on products that customers use, it will end up helping customers
                with make their life easier with the work that they have to do. In addition, the provided updates are
                not limited to the addition of features, it can also be in the form of a more efficient code structure,
                a good system configuration, and everything else that can be done to improve customer experience.</p>

            <li> <b>Quality Upgrade</b> </li>
            <p>With the products that are constantly being updated, it surely will have better and improved
                performances. This style of efficiency has been effectively done on our code updates. At the end of the
                day, we can present stabler structures and better approaches of the products that being used by the
                customers.</p>

            <li> <b>Sustainability Maintained</b> </li>
            <p>The ongoing development process can bring peace of mind to the customers while ousing our products. This
                is because we will always minimize errors that can occur and quickly mitigate our existing problems.</p>
        </ol>
    </div>
</div>