<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Continuously Integration</h3>
        <p>
            Mistakes in work processes are something that cannot be denied at any company, eventhough in a stable
            company unmindful of potential mistakes might also be happened. This includes the small
            things that are ignored by employees that can be a problem during the work processes of the
            company. This makes Pojokan.Io reflect and learn for these things, in this
            company we implement a work system called Continuously Integration.</p>
        <p>
            <b>Continuously Integration</b> is a work system that requires all parts of the company to always integrate
            each other works. This allows us to always check the ongoing progress to avoid out of scopes work.
            Although this system alone cannot completely free us from all
            kinds of potential problems can occur, however with this we can more easily find and solve existing
            problems.</p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3">
        <h5>The purpose of implementing this work system itself are:</h5>
        <hr />
        <p>
            <ol>
                <li class="wow fadeInUp">
                    <b>Minimum Time Cost</b>
                    <p> The process of integration itself is basically certainly applied in any job, but what
                        distinguishes this working system itself lies in the word "Continuously", which means
                        "Sustainable". By applying this one simple thing principle of continuous
                        integration process, we can save time in dealing with existing problems.</p>
                </li>
                <li class="wow fadeInUp">
                    <b>Early Find Mistake</b>
                    <p> The integration process that is carried out on an ongoing basis automatically will require us to
                        check the work progress all the time. In long time span of this implementation, we tend to
                        discover problem during the integration process. Therefore the
                        entire process verificvation is carried out periodically and continuously allows us to be
                        able to find potential problems early.</p>
                </li>
                <li class="wow fadeInUp">
                    <b> Rapid Delivery</b>
                    <p> Quick response to problems and their earlier discoveries can make developers more focused to
                        develop our products, therefore it can be launched more quickly.</p>
                </li>
            </ol>
        </p>
    </div>
</div>