<div class="row">
    <div class="col-md-12 wow fadeInUp">
        <h3>Continuously Integration</h3>
        <p>
            Kesalahan dalam proses kerja merupakan hal yang tak dapat dipungkiri pada perusahaan manapun, seringkali
            ketika sebuah perusahaan
            sudah berjalan dengan stabil hal tersebut dapat membuat kita lengah akan potensi kesalahan yang mungkin saja
            terjadi. Belum lagi hal-hal kecil yang diabaikan pegawai sehingga dapat menjadi sebuah masalah yang dapat
            menghambat
            proses kerja perusahaan pun turut serta berpotensi untuk muncul. Hal ini membuat Pojokan.Io bercermin dan
            belajar
            akan hal-hal tersebut, di dalam perusahaan ini kami menerapkan sebuah sistem kerja yang bernama Continuously
            Integration.</p>
        <p>
            <b>Continuously Integration</b> merupakan sebuah sistem kerja yang mengharuskan seluruh bagian perusahaan
            untuk senantiasa
            meng-integrasikan pekerjaannya antar satu sama lain. Hal ini memungkinkan kami untuk senantiasa mengecek
            pekerjaan
            yang tengah dilakukan-- memastikan adakah hal yang berbeda atau diluar kesepakatan yang telah dibuat akan
            pekerjaan
            tersebut. Sistem ini sendiri tidak sepenuhnya dapat membebaskan kita dari segala macam potensi permasalahan
            yang
            dapat terjadi, meski demikian dengan hal ini kita dapat lebih mudah untuk mencari dan menyelesaikan
            permasalahan
            yang ada.</p>
    </div>
</div>
<div class="row">
    <div class="col-md mt-md-3">
        <h5>Tujuan dari penerapan sistem kerja ini sendiri adalah :</h5>
        <hr />
        <p>
            <ol>
                <li class="wow fadeInUp">
                    <b>Minimum Time Cost</b>
                    <p> Proses integrasi sendiri pada dasarnya pasti diterapkan di dalam pekerjaan apapun, namun yang
                        membedakan
                        sistem kerja ini sendiri terletak pada kata "Continuously"-nya, yang berarti "Berkelanjutan".
                        Dengan
                        menerapkan satu hal sederhana ini yaitu melakukan proses integrasi secara berkelanjutan, kami
                        dapat
                        menghemat waktu dalam menangani permasalahan yang ada.</p>
                </li>
                <li class="wow fadeInUp">
                    <b>Early Find Mistake</b>
                    <p> Proses integrasi yang dilakukan secara berkelanjutan secara otomatis akan mengharuskan kami
                        untuk mengecek
                        pekerjaan setiap saat. Berbeda dengan ketika kita melakukannya dalam rentang waktu yang lama,
                        permasalahan
                        cenderung baru ditemukan ketika kita melakukan integrasi. Oleh karena itu proses integrasi yang
                        dilakukan
                        secara berkala dan berkelanjutan memungkinkan kami untuk dapat menemukan potensi masalah lebih
                        awal.</p>
                </li>
                <li class="wow fadeInUp">
                    <b> Rapid Delivery</b>
                    <p> Penanggapan masalah yang cepat dan penemuannya yang juga lebih
                        awal dapat membuat pengembang lebih berfokus untuk mengembangkan produknya, sehingga produk pun
                        dapat
                        diluncurkan lebih cepat.</p>
                </li>
            </ol>
        </p>
    </div>
</div>