<div class="col-md-12 wow fadeInUp">
  <h3>Out of the box</h3>
  <p>
    Out of the box adalah sebuah pola pikir yang dimiliki oleh semua orang baik
    individu maupun kelompok. Berdasarkan pengertian tersebut, maka Pojokan.dev
    sebagai perusahaan yang berbasis teknologi akan memberikan sebuah fitur
    maupun terknologi yang digunakan dalam semua sistem yang ada di produk yang
    ditawarkan oleh Pojokan.dev jika membuat produk berbasis B2C, khusus untuk
    model B2B maka Pojokan.dev akan menawarkan sebuah produk inovasi yang
    ditawarkan tetap disesuaikan dengan permintaan perusahaan tersebut.
  </p>

  <p>
    Pojokan.dev juga akan menawarkan semua produk yang dimiliki itu harus sebuah
    produk yang belum pernah ada, jikapun produk tersebut sudah pernah ada, maka
    di sistem yang akan didevelop oleh tim developer didalam perusahaan
    Pojokan.dev.
  </p>
</div>
