<div class="row">
  <div class="col-md-12 wow fadeInUp">
    <h3>Pure Indonesian</h3>
    <p>
      Pojokan.io merupakan sebuah perusahaan yang berbasis di Indonesia dan
      didirikan sendiri oleh kawula muda Indonesia. Pojokan.io memiliki target
      untuk menjadi perusahaan yang Go International, kendati demikian
      perusahaan ini tidak akan melepaskan esensinya sebagai putra/putri
      Indonesia dan senantiasa menanamkan semangat Indonesia di dada. Selain itu
      guna mengubah persepsi Indonesia sebagai negara dunia ketiga, melalui
      perusahaan ini kami bercita-cita untuk dapat memperkenalkan Indonesia
      sebagai negara yang juga dapat bersaing dalam bidang teknologi yang
      tinggi.
    </p>
    <p>
      Pojokan.io sendiri dalam penggunaan sumber daya manusianya akan jauh lebih
      mengutamakan sumber daya manusia yang berasal dari Indonesia, hal ini guna
      mendukung pembangunan dan pengembangan sumber daya manusia yang ahli dalam
      bidangnya di negeri ini.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md mt-md-3 wow fadeInUp">
    <h5>
      Kami melakukan proses perekrutan karyawan dengan beberapa tahap sebagai
      berikut :
    </h5>
    <hr />
    <ol>
      <li>
        <p>Tahap seleksi administrasi</p>
      </li>
      <li>
        <p>Tahap tes psikotes</p>
      </li>
      <li>
        <p>Tahap tes wawancara pertama</p>
      </li>
      <li>
        <p>Tahap tes live coding</p>
      </li>
      <li>
        <p>Tahap tes interview akhir</p>
      </li>
      <li>
        <p>Direkrut dengan masa probation selama 3 - 6 bulan</p>
      </li>
      <li>
        <p>Setelah masa probation direkrut pegawai tetap</p>
      </li>
    </ol>
  </div>
</div>
