<div class="row">
  <div class="col-md-12 wow fadeInUp">
    <h3>Pure Indonesian</h3>
    <p>
      Pojokan.dev is a company based in Indonesia and was founded by Indonesian
      young people. Although Pojokan.dev always has International vision, this
      company will not release its essence on the pure Indonesian culture and
      spirit. In addition, we want to change the perception of Indonesia as a
      third world country, throughout this company we aspire to introduce
      Indonesia as a country that can compete in the field of cutting edge
      technology.
    </p>
    <p>
      Pojokan.dev elaborate more on the human resources which prioritize
      Indonesian young generation. This is to support the development of human
      factor who are experts in their fields in this country.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md mt-md-3 wow fadeInUp">
    <h5>We do the employee recruitment process in the following stages:</h5>
    <hr />
    <ol>
      <li>
        <p>Administration selection stage</p>
      </li>
      <li>
        <p>Psychological test stage</p>
      </li>
      <li>
        <p>First interview test stage</p>
      </li>
      <li>
        <p>Live coding test stage</p>
      </li>
      <li>
        <p>The final interview test stage</p>
      </li>
      <li>
        <p>Recruited with probation period for 3-6 months</p>
      </li>
      <li>
        <p>After the probation period permanent employees are recruited</p>
      </li>
    </ol>
  </div>
</div>
