<div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s">
        <a href="/business-oriented.html" class="h5 mt-3">
            <i class="fa fa-briefcase fa-2x"></i>
        </a>
        <div class="h5 mt-3"><a href="/business-oriented.html" class="h5 mt-3">Business Oriented</a></div>
        <p class="mt-5">Memiliki sebuah bussiness model tersendiri yang memiliki perbedaan dengan perusahaan yang
            sejenis</p>
    </div>
</div>
<div class="col-lg-3 col-md-6 purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s">
        <a href="/advanced-technology.html" class="h5 mt-3">
            <i class="fa fa-industry fa-2x"></i>
        </a>
        <div class="h5 mt-3"><a href="/advanced-technology.html" class="h5 mt-3">Advanced Technology</a></div>
        <p class="mt-5">Selalu melakukan update terhadap teknologi informasi</p>
    </div>
</div>
<div class="col-lg-3 col-md-6 teal lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s">
        <a href="/pure-indonesian.html" class="h5 mt-3">
            <i class="fa fa-users fa-2x"></i>
        </a>
        <div class="h5 mt-3"><a href="/pure-indonesian.html" class="h5 mt-3">Pure Indonesian</a></div>
        <p class="mt-5">Selalu berorientasi kepada bisnis, dimana semua produk yang ditawarkan itu akan
            dikelola sendiri oleh best talent asli dari Indonesia</p>
    </div>
</div>
<div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s">
        <a href="/out-of-the-box.html" class="h5 mt-3">
            <i class="fa fa-sign-out fa-2x"></i>
        </a>
        <div class="h5 mt-3"><a href="/out-of-the-box.html" class="h5 mt-3">Out of the box</a></div>
        <p class="mt-5">Terobosan terbaru dan di luar kelaziman</p>
    </div>
</div>